<h1>{{group}}</h1>
<div class="row">
    <div class="column-md-12">
        <ul id="messages">
            {{#each msgs}}
                <li>{{this.username}} {{this.created}}</li>
                <li>{{this.content}}</li>
                <hr>
            {{/each}}
        </ul>
    </div>
</div>

<form action="">
    <input type="text" name="message" id="m"><br>
    <input type="submit" value="Submit">
</form>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script type="text/javascript" src="../js/io.js"></script>