<h1>Group</h1>
{{#each msgs}}
    <li>{{this.username}} {{this.created}}</li>
    <li>{{this.content}}</li>
    <hr>
{{/each}}

<form method="POST" action="/{{group}}/msg">
    <input type="text" name="message"><br>
    <input type="submit" value="Submit">
</form>

<script type="text/javascript", src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
</script>