<div class="row">
    <div class="col-md-12">
        <form method="POST" action="/groups/create" class="create-group">
            <h1>Create Group</h1>
            <input type="text" name="groupName" class="form-control" placeholder="Group Name (No Spaces)">
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">Create</button>
        </form>
    </div>
</div>